<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-kavenegar-call"
    version="1.0.0">
    <name>Kavenegar Call Plugin</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/driftyco/cordova-plugin-template.git</repo>
    <issue>https://github.com/driftyco/cordova-plugin-template/issues</issue>

    <!-- android -->
    <platform name="android">
      <js-module src="www/plugin.js" name="plugin">
        <runs/>

        <!-- This is the window variable name you want, like window.CordovaPluginKavenegarCall -->
        <clobbers target="CordovaPluginKavenegarCall" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="CordovaPluginKavenegarCall">
          <param name="android-package" value="com.android.plugins.CordovaPluginKavenegarCall" />
          <param name="onload" value="true" />
        </feature>
      </config-file>
      <config-file target="AndroidManifest.xml" parent="/*">
        <uses-permission android:name="android.permission.RECORD_AUDIO" />
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
        <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
        <uses-permission android:name="android.permission.READ_PHONE_STATE" />
		</config-file>
      <source-file src="src/android/CordovaPluginKavenegarCall.java" target-dir="src/com/android/plugins" />
      <framework src="src/android/build.gradle" custom="true" type="gradleReference" />

    </platform>

    <!-- ios -->
    
</plugin>
